
/* The h1 of the landing page with my name */
.title{
  color: #000;
  font-family: Raleway;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

/* The font which is used in most of the contents descriptions */
.body-font{
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;

  /* Body font */
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
