.frame-header-applications-page {
  margin-top: 30px;
  display: flex;
  width: 1267px;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.github-account-frame{
  display: flex;
  padding: 0px 28px;
  align-items: center;
  gap: 133px;
}

.frame-application{
  display: flex;
  width: 1000.419px;
  height: 446.755px;
  /* padding: 227.815px 468.647px; */
  justify-content: center;
  align-items: center;
  gap: 13.018px;
  flex-shrink: 0;

  border-radius: 65.09px;
  border: 6.509px solid #000;
  box-shadow: 0px 5.207px 5.207px 0px rgba(0, 0, 0, 0.25);
}

.tech-stack{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1159px;
  flex-direction: column;
  gap: 48px;

  p{
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.frame-icons-tech-stack{
  display: flex;
  width: 733.02px;
  justify-content: center;
  align-items: center;

  gap: 57.023px;
  flex-wrap: wrap;
}

.layout-icons-tech-stack{
  width: 97px;
  height: 97px;
  flex-shrink: 0;
}
