.frame-header-books-page {
  margin-top: 30px;
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  /* padding: 5rem; */

}

.frame-magazine-and-text{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* height: 630px; */
  align-items: center;
  gap: 64px;
  align-self: stretch;
  /* padding: 5rem; */
  h2{
    color: #000;
    text-align: center;

    /* Subheaders */
    font-family: Raleway;
    font-size: 65px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
}

@media (max-width: 1050px){
  .wrap-civilisation{
    flex-wrap: wrap-reverse;
  }
  .wrap-wizzy-en-asie{
    display: flex;
    flex-direction: column;
  }

}

/* .magazine-dimensions{
  img{
    width: 438.662px;
    height: 629.786px;
  }
} */

.frame-texts-magazine{
  display: flex;
  /* width: 50%; */
  flex-direction: column;
  align-items: center;
  gap: 72px;
  flex: 1 0 0;
}

/* Reused the effect from the photos page CSS and changed the ratio of the magazines */
.container-photo{
  overflow: hidden;
  position:relative;
  .main-photo-magazine{
    width: 438.662px;
    /* height: 629.786px; */
    object-fit: cover;
    transition: all 0.3s;
  }
}
