.footer-frame{
  margin-top: 15vh;
  width: 100%;
  background-color: rgb(47, 47, 47);
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  p{
    text-align: center;
    color: white;
  }
}

.social-icons-list > ul{
  display: flex;
  gap: 25px;

  li>a>img{
    width: 35px;
  }
}
