/* Main 1st frame  */

.frame-landingpage{
  /* margin-top: 2rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

/* Frame title, text and buttons */

.frame-title-text{
  display: flex;
  justify-content: center;
  padding-left: 20px;
  align-items: flex-start;
  gap: 238.811px;
  align-self: stretch;
}

/* 1st frame on the left */

.name-profession{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}


.profession{
  align-self: stretch;
  color: #000;
  font-family: Raleway;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.097);

}


.frame-landingpage{

  .photo-landing-page{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  .frame-title-text{
    position: absolute;
    z-index: 1;
    margin-left: 140px;
    margin-top: 30px;
  }
}

.frame-landingpage{
  position: relative;

  .vector-arrow{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 13%;
    color: #FFF;
  }
}


/* This is for animating the arrow blinking and also its size */
.blinking-arrow{
  animation: blinker 3s ease-in-out infinite;
  width: 80px;

}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
/* --------------------- */


/* The 2nd frame my latest works */
.frame-my-latest-works{
  margin-top: 3rem;
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.header-landing-page{
  align-self: stretch;
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 3.75em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.font-text-latest-works{
  color: #000;
  font-family: Raleway;
  font-size: 24.498px;
  padding: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 90%;
}

.frame-cards-latest-works{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* height: 575px; */
  align-items: center;
  gap: 48px;
}

.card-latest-works{
  display: flex;
  padding: 2rem 3.5rem;
  flex-direction: column;
  align-items: center;
  gap: 31.44px;

  border-radius: 37.428px;
  border: 3.92px solid #000;
  background: #FFF;
  box-shadow: 0px 2.994px 2.994px 0px rgba(0, 0, 0, 0.25);
}

.icon-latest-works{
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.title-card-latest-works{
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 23px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.font-card-latest-works{
  width: 248.04px;
  height: 301.629px;
  flex-shrink: 0;

  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  /* Font card landing page */
  font-family: Raleway;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#black-card{
  box-shadow: 0px 2.83px 2.83px 0px rgba(255, 255, 255, 0.337);
  background: #1f1f25;
  color: white;
  p{
    color: white;
  }
  button{
    border: solid white 2.19px;
    background : #1f1f25;
    color: white;
    box-shadow: 0px 2.83px 2.83px 0px rgba(159, 159, 159, 0.337);
  }
  button:hover{
    background: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    transition: ease-in-out 300ms;
  }
}

.btn-card-latest-works{
  display: flex;
  width: 177.609px;
  height: 45.994px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 9.187px;
  flex-shrink: 0;

  border-radius: 18.252px;
  border: 2.19px solid #000;
  background: #FFF;
  box-shadow: 0px 2.83px 2.83px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  font-family: Raleway;
  font-size: 22.133px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.btn-card-latest-works:hover{
  background: black;
  color:white;
  transition: ease-in-out 300ms;
}

/* The frames for all the sections : web, photos, designs, about, contact */

.layout-all-frames{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  width: 98%;
  align-items: flex-start;
  gap: 80px;
  padding: 0 20px;
}

/* The third frame : web development */

.frames-layouts-landing-page-with-see-more{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  align-self: stretch;
}

.frames-layouts-landing-page{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 35px;
  align-self: stretch;
}

.frames-layouts-landing-page-logo{
  display: flex;
  align-items: center;
  gap: 35px;
}

.logo-layouts-landing-page{
  margin-top: 5px;
  width: 58px;
  height: 61px;
}

.frames-layouts-landing-page-content{
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.header-layouts-landing-page{
  align-self: stretch;
  color: #000;
  font-family: Raleway;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.img-web-dev{
  display: flex;
  aspect-ratio: 16 / 9;
  /* width: 100%; */
  min-height: 25vh;
  height: 48vh;
  object-fit: cover;
  /* padding: 198.396px 408.128px; */
  justify-content: center;
  align-items: center;
  gap: 11.337px;
  flex-shrink: 0;
  margin-right: 20px;
  border-radius: 56.684px;
  border: 5.668px solid #000;
  box-shadow: 0px 4.535px 4.535px 0px rgba(0, 0, 0, 0.25);
}

.animation-carrousel{
  position: relative;
  width: 80%;
  height: 400px;
  gap: 30px;

  .image-animated{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    opacity: 1;
  }

  p{
    /* z-index: 1; */
    position: absolute;
  }
}

.tymouet-animation{
  animation: fadeIn 4s ease-in-out infinite alternate;
}

@keyframes fadeIn {
  from { opacity: 0; }
}

/* The see more section */

.see-more{
  display: flex;
  align-items: center;
  gap: 20px;
  p{
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .vector-arrow{
    width: 13.616px;
    height: 24.757px;
  }
}

.see-more:hover{
  transition: 300ms ease-in-out;
  transform: scale(1.05);
}

/* -------------------------------- */


/* The images showcased in the photography section */

.img-list{
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  height: 408px;
  flex-shrink: 0;
  img{
    overflow:hidden;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .img1{
    padding-bottom: 3rem;
  }
  .img2{
    padding-top: 3rem;
  }
}

/* ------------------------------ */



.frame-magazines-cover{
  display: flex;
  align-items: center;
  gap: 108px;
  overflow: hidden;
  img{
    display: flex;
    width: 100%;
    /* height: 695.456px; */
    padding-right: 0.399px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.frame-about-photo-and-text{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  gap: 100px;
  width: 100%;
  img{
    height: 409.915px;
    border-radius: 29.695px;
    background: url(images/photo\ profil-V2.png) lightgray -62.942px -83.219px / 148.74% 134.333% no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.text-width{
  width:100vh;
}

.frame-contact-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;

  gap: 54px 89px;
  flex-wrap: wrap;

  button{
    margin-top: 15px;
    display: flex;
    width: 150px;
    height: 45.578px;
    padding: 2px 22px ;
    justify-content: center;
    align-items: center;
    gap: 14.952px;
    flex-shrink: 0;

    border-radius: 20px;
    border: 2px solid #000;
    background: #FFF;
    box-shadow: 0px 4.607px 4.607px 0px rgba(0, 0, 0, 0.25);

    font-size: large;
    font-weight: 600;
  }

  form{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
  }
}

.inputs-style{
  /* text-align: center; */
  padding: 8px;
  border-radius: 15px;
  border: 2px solid #000;
  background: #FFF;
  /* box-shadow: 0px 4.607px 4.607px 0px rgba(0, 0, 0, 0.25); */
  font-size: 20px;
  margin-right: 20px;

}
