.frame-header-photos-sections-page {
  margin-top: 30px;
  display: flex;
  width: 1267px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.photos-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;

}

.photos-grid img{
  width: 100%;
}
