/* Whole body */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
  font-family: Raleway;
}

body {
  width: 1550px;
  min-height: 100vh;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html{
  scroll-behavior: smooth;
}

.zoom-effect-photos{
  overflow: hidden;
  img{
    transition: all 0.3s;
  }
  img:hover{
    transform: scale(1.05);

  }
}
