
/* Whole body */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
  font-family: Raleway;
}

html{
  width: 100%;
  /* height: 100vh; */
  margin: 0;
  padding: 0;
  /* min-width: none; */
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100vw;
  min-width: 100vh;
  min-height: 100vh;
  margin-bottom: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


button{
  cursor: pointer;
}

/* Used on the landing photos from the landing page */
.zoom-effect-photos{
  overflow: hidden;
  img{
    transition: all 0.3s;
  }
  img:hover{
    transform: scale(1.05);

  }
}

/* ----------------------- */
